
   @font-face {
    font-family: 'Digital-7';
    /* WICHTIG: Der Dateiname hier in den Klammern muss EXAKT so heißen wie deine Datei im Ordner! */
    src: url('digital-7-italic.ttf') format('truetype'); 
    font-weight: normal;
    font-style: italic;
} 
* {
    box-sizing: border-box; 
    -webkit-tap-highlight-color: transparent; 
    touch-action: none; 
    -webkit-user-select: none;
    user-select: none;
}

body { 
    background-color: #000; 
    margin: 0; padding: 0;
    width: 100vw; height: 100dvh;
    overflow: hidden; 
    font-family: 'Orbitron', sans-serif;
    display: flex;
    align-items: flex-end; 
    justify-content: space-between; 
}

.controls-left {
    padding: env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 25px);
    display: flex; flex-direction: column;
    gap: 15px; z-index: 200;
}

#nos-btn {
    width: 80px; height: 80px; border-radius: 50%;
    border: 2px solid #0099ff; background: rgba(0, 150, 255, 0.2);
    display: flex; justify-content: center; align-items: center; 
    color: white; font-size: 16px; margin-bottom: 10px;
    transition: transform 0.1s;
}
#nos-btn:active { transform: scale(0.9); background: rgba(0, 150, 255, 0.5); }

.btn-gear {
    width: 80px; height: 80px; background: rgba(255, 255, 255, 0.1);
    border: 2px solid #fff; color: white; font-size: 35px;
    display: flex; justify-content: center; align-items: center; border-radius: 12px;
}

.hud-right {
    padding: env(safe-area-inset-bottom, 15px) env(safe-area-inset-right, 20px);
    display: flex; flex-direction: column; align-items: center;
    width: 260px;
    z-index: 100;
}

.tacho-box { position: relative; width: 220px; height: 220px; flex-shrink: 0; top: -30px; }
.tacho-bg { width: 100%; height: 100%; object-fit: contain; position: absolute; z-index: 2; }
.tacho-fill { width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 1;pointer-events: none; object-fit: contain;filter: sepia(1) saturate(6) hue-rotate(10deg) brightness(1.1) contrast(3); }

#gear-val {
    font-family: 'Digital-7', monospace; font-style: italic; font-size: 25px; -webkit-text-stroke: 1.5px #2b1f0e; color: #2b1f0e; background-color: none; padding: 2px 10px; border-radius: 3px; line-height: 1; min-width: 30px; text-align: center; margin-bottom: 35px;
}

#speed-val {
    font-family: 'Digital-7', monospace; font-style: italic; font-size: 44px; -webkit-text-stroke:1.5px #2b1f0e; #2b1f0e; text-shadow: 0 0 2px #e4b365; background-color: none; padding: 2px 12px; border-radius: 4px; line-height: 1; min-width: 80px; text-align: center;
}
#speed-unit {
    position: absolute;
    /* Hier ist die Stellschraube: 
       Je kleiner die Prozentzahl, desto weiter wandert es nach unten */
    bottom: 10%; 
    left: 50%;
    transform: translateX(-50%); /* Hält es perfekt in der Mitte */
    
    font-family: 'Orbitron', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: white;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    z-index: 15; /* Sicher drüberlegen */
}
 .nadel {
    position: absolute; height: 50%; top: 50%; left: 50%;
    transform-origin: 50% 82%;
    transform: translate(-50%, -82%) rotate(-120deg);
    pointer-events: none;
    transition: transform 0.05s linear; /* Sorgt für smoothe Bewegung */
    z-index: 4;
}

.speedo-digital {
    position: absolute; z-index: 10; bottom: 20%; left: 50%;
    transform: translateX(-50%); display: flex; flex-direction: column; align-items: center; gap: 4px; background: none5
}

.turbo-unit { 
    position: absolute; top: 172px; /* Hier schiebst du nur den Turbo-Bogen hoch/runter */left: 50%; left: calc(50% + 3px);transform: translateX(-50%);width: 200px; z-index: 1; 
}
.turbo-bg-img { width: 100%; height: auto;object-fit: contain; }

.turbo-bar {
    position: absolute;top: 52%; left: 51.5%; 
    transform: translate(-50%, -50%); width: 117.2%; height: 117.2%; object-fit: contain; z-index: 5; pointer-events: none;}
.turbo-needle {
    position: absolute; height: 96px; left: 51%; top: 50%;
    transform: translate(-50%, -100%) rotate(0deg);
    transform-origin: 50%  0%; z-index: 10;
}


#fs-trigger {
    position: fixed; top: 10px; left: 50%; transform: translateX(-50%);
    padding: 5px 15px; background: rgba(255,255,255,0.1); color: white;
    border: 1px solid #fff; border-radius: 5px; font-size: 10px; z-index: 1000;
}